:host {
    display: block;
    padding: 24px;
}

table {
    width: 100%;
}

.first-employee {
    position: absolute;
    bottom: 75px;
    right: 24px;
    font-weight: bold;
    color: red;
    border-style: dashed double none;
    font-size: 1.5em;
}

.btn-add {
    position: absolute;
    bottom: 24px;
    right: 24px;
}

.btn-edit {
    position: absolute;
    right: 84px;
    top: 110px;
    background-color: rgb(255, 187, 0);
}

.btn-delete {
    position: absolute;
    right: 24px;
    top: 110px;
}

.mat-form-field {
    font-size: 20px;
    width: 100%;
}

.card {
    max-width: 60%;
}

.welcome-text {
    font-size: 1.1em;
    font-weight: bold;
}

.header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}