<div *ngIf="!employee">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div *ngIf="employee">
    <form [formGroup]="form">
        <div fxLayout="row wrap" fxLayoutAlign="space-around">
            <mat-form-field fxFlex="45" appearance="outline">
                <mat-label>Name</mat-label>
                <input formControlName="name" matInput placeholder="Name">
                <mat-error *ngIf="name.hasError('required')">Name is required</mat-error>
                <mat-error *ngIf="name.hasError('minlength')">Name is too short, minimum of 3 characters</mat-error>
                <mat-error *ngIf="!name.hasError('minlength') && name.hasError('pattern')">Numbers are not allowed</mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="45" appearance="outline">
                <mat-label>Last Name</mat-label>
                <input formControlName="lastName" matInput placeholder="Last Name">
                <mat-error *ngIf="lastName.hasError('required')">Last Name is required</mat-error>
                <mat-error *ngIf="lastName.hasError('minlength')">Last Name is too short, minimum of 3 characters</mat-error>
                <mat-error *ngIf="!lastName.hasError('minlength') && lastName.hasError('pattern')">Numbers are not allowed</mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="45" appearance="outline">
                <mat-label>Dni</mat-label>
                <input formControlName="dni" matInput placeholder="Dni">
                <mat-error *ngIf="dni.hasError('pattern')">Dni not valid</mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="45" appearance="outline">
                <mat-label>E-mail</mat-label>
                <input formControlName="email" matInput placeholder="E-mail">
                <mat-error *ngIf="email.hasError('required')">Email is required</mat-error>
                <mat-error *ngIf="email.hasError('email')">Email is not a valid email</mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="45" appearance="outline">
                <mat-label>Phone</mat-label>
                <input formControlName="phone" matInput placeholder="Phone">
                <mat-error *ngIf="phone.hasError('pattern')">Phone must contain 9 numbers</mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="45" appearance="outline">
                <mat-label>City</mat-label>
                <input formControlName="city" matInput placeholder="City">
                <mat-error *ngIf="city.hasError('required')">City is required</mat-error>
                <mat-error *ngIf="city.hasError('minlength')">City is too short, minimum of 3 characters</mat-error>
                <mat-error *ngIf="city.hasError('maxlength')">City is too long, maximum 30 characters</mat-error>
                <mat-error *ngIf="!city.hasError('minlength') && city.hasError('pattern')">Numbers are not allowed</mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="45" appearance="outline">
                <mat-label>Technology</mat-label>
                <input formControlName="technology" matInput placeholder="Technology">
                <mat-error *ngIf="technology.hasError('required')">Technology is required</mat-error>
                <mat-error *ngIf="technology.hasError('minlength')">Technology is too short, minimum of 2 characters</mat-error>
                <mat-error *ngIf="technology.hasError('maxlength')">Technology is too long, maximum 255 characters</mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="45" appearance="outline">
                <mat-label>LinkedIn</mat-label>
                <input formControlName="linkedIn" matInput placeholder="{{employee.linkedIn}}">
                <mat-error *ngIf="linkedIn.hasError('minlength')">LinkedIn is too short, minimum of 7 characters</mat-error>
                <mat-error *ngIf="linkedIn.hasError('maxlength')">LinkedIn is too long, maximum 100 characters</mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="45" appearance="outline">
                <mat-label>Notice Period (weeks)</mat-label>
                <mat-select formControlName="noticePeriod" value=1>
                    <mat-option value=1>One week</mat-option>
                    <mat-option value=2>Two weeks</mat-option>
                    <mat-option value=3>Three weeks</mat-option>
                    <mat-option value=4>Four weeks</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field fxFlex="45" appearance="outline">
                <mat-label>Experience</mat-label>
                <mat-error *ngIf="experience.hasError('required')">Experience is required</mat-error>
                <input formControlName="experience" matInput placeholder="{{employee.experience}}">
            </mat-form-field>

            <mat-form-field fxFlex="45" appearance="outline">
                <mat-label>Salary</mat-label>
                <input formControlName="salary" matInput placeholder="{{employee.salary}}">
                <mat-error *ngIf="salary.hasError('required')">Salary is required</mat-error>
                <mat-error *ngIf="salary.hasError('pattern') && salary.hasError('minlength')">Only numbers are supported (from:10000 until:999999 by year)</mat-error>
                <mat-error *ngIf="!salary.hasError('pattern') && salary.hasError('minlength')">Salary is too short (from:10000 until:999999 by year)</mat-error>
                <mat-error *ngIf="salary.hasError('maxlength')">Salary is too long, maximum 6 characters</mat-error>
                <mat-error *ngIf="salary.hasError('pattern') && !salary.hasError('minlength') && !salary.hasError('maxlength')">Only numbers are supported (from:10000 until:999999 by year)</mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="45" appearance="outline">
                <mat-label>Position</mat-label>
                <input formControlName="position" matInput placeholder="{{employee.position}}">
                <mat-error *ngIf="position.hasError('required')">Position is required</mat-error>
                <mat-error *ngIf="position.hasError('minlength')">Position is too short, minimum of 3 characters</mat-error>
                <mat-error *ngIf="position.hasError('maxlength')">Position is too long, maximum 30 characters</mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="45" appearance="outline">
                <mat-label>Seniority</mat-label>
                <textarea formControlName="seniority" matInput placeholder="{{employee.seniority}}"></textarea>
                <mat-error *ngIf="seniority.hasError('required')">Position is required</mat-error>
                <mat-error *ngIf="seniority.hasError('minlength')">Position is too short, minimum of 3 characters</mat-error>
                <mat-error *ngIf="seniority.hasError('maxlength')">Position is too long, maximum 30 characters</mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="45" appearance="outline">
                <mat-label>SS-Number</mat-label>
                <textarea formControlName="ssNumber" matInput placeholder="{{employee.ssNumber}}"></textarea>
                <mat-error *ngIf="ssNumber.hasError('required')">SS-Number is required</mat-error>
                <mat-error *ngIf="ssNumber.hasError('pattern')">SS-Number must be a valid number</mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="45" appearance="outline">
                <mat-label>IBAN</mat-label>
                <textarea formControlName="iban" matInput placeholder="{{employee.iban}}"></textarea>
                <mat-error *ngIf="iban.hasError('required')">IBAN is required</mat-error>
                <mat-error *ngIf="iban.hasError('pattern')">IBAN must be a valid number</mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="45" appearance="outline">
                <mat-label>Comments</mat-label>
                <textarea formControlName="comments" matInput placeholder="{{employee.comments}}"></textarea>
                <mat-error *ngIf="comments.hasError('minlength')">Comments is too short, minimum of 3 characters</mat-error>
                <mat-error *ngIf="comments.hasError('maxlength')">Comments is too long, maximum 255 characters</mat-error>
            </mat-form-field>

            <div fxFlex="45" fxLayout="column wrap">
                <mat-slide-toggle formControlName="isRemote" fxFlex>Remote</mat-slide-toggle>
            </div>
        </div>
    </form>

    <button class="btn-edit" mat-fab color="primary" [disabled]="!form.valid" (click)="editEmployee()">
        <mat-icon>edit</mat-icon>
    </button>
</div>