<div *ngIf="!candidate">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div *ngIf="candidate">
    <form [formGroup]="form">
        <div fxLayout="row wrap" fxLayoutAlign="space-around">
            <mat-form-field fxFlex="45" appearance="outline">
                <mat-label>Name</mat-label>
                <input formControlName="name" matInput placeholder="{{candidate.name}}">
            </mat-form-field>

            <mat-form-field fxFlex="45" appearance="outline">
                <mat-label>Last Name</mat-label>
                <input formControlName="lastName" matInput placeholder="Placeholder">
            </mat-form-field>

            <mat-form-field fxFlex="45" appearance="outline">
                <mat-label>E-mail</mat-label>
                <input formControlName="email" matInput placeholder="Placeholder">
            </mat-form-field>

            <mat-form-field fxFlex="45" appearance="outline">
                <mat-label>Phone</mat-label>
                <input formControlName="phone" matInput placeholder="Placeholder">
            </mat-form-field>

            <mat-form-field fxFlex="45" appearance="outline">
                <mat-label>City</mat-label>
                <input formControlName="city" matInput placeholder="Placeholder">
            </mat-form-field>

            <mat-form-field fxFlex="45" appearance="outline">
                <mat-label>Technology</mat-label>
                <input formControlName="technology" matInput placeholder="Placeholder">
            </mat-form-field>

            <mat-form-field fxFlex="45" appearance="outline">
                <mat-label>LinkedIn</mat-label>
                <input formControlName="linkedIn" matInput placeholder="Placeholder">
            </mat-form-field>

            <mat-form-field fxFlex="45" appearance="outline">
                <mat-label>Notice Period (weeks)</mat-label>
                <mat-select formControlName="noticePeriod" value=1>
                    <mat-option value=1>One week</mat-option>
                    <mat-option value=2>Two weeks</mat-option>
                    <mat-option value=3>Three weeks</mat-option>
                    <mat-option value=4>Four weeks</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field fxFlex="45" appearance="outline">
                <mat-label>Comments</mat-label>
                <textarea formControlName="comments" matInput></textarea>
            </mat-form-field>

            <div fxFlex="45" fxLayout="column wrap">
                <mat-slide-toggle formControlName="isRemote" fxFlex>Remote</mat-slide-toggle>
                <mat-slide-toggle formControlName="isAvailable" fxFlex>Available</mat-slide-toggle>
            </div>
        </div>
    </form>

    <button class="btn-edit" mat-fab color="primary" (click)="editCandidate()">
        <mat-icon>edit</mat-icon>
    </button>
</div>